.gauge {
  width: 350px;
  height: 66px;
}

.gauge-border {
  shape-rendering: crispEdges;
  stroke: #d8d8d8;
  fill: white;
}

.gauge-value {
  fill: @color-value;
}

.gauge-limit {
  fill: rgba(255, 0, 23, 0.56);
}

.gauge-marker {
  stroke-width: 1;
  stroke: white;
  // fill: #f5a623;
  shape-rendering: crispEdges;
}

.gauge-scale {
  font-weight: 400;
  fill: #979797;
}
