@font-color: #333;
@color-value: #4B82C4;
@color-muted: #aaa;
@assets: 'assets';

@import "partials/mixins";
@import "partials/staticContent";
@import "partials/gauge";

body, h1, h2 {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: Dosis;
  font-weight: 500;
  font-size: 14px;
  color: @font-color;

}

a, .a {
  .link-colors(@color-value);
}

.font-big {
  font-size: 24px;
  font-weight: 400;
}

.font-medium {
  font-size: 17px;
  font-weight: 400;
}

.font-regular {
  font-size: 14px;
  font-weight: 500;
}

#content {
  margin-top: 1em;
  margin-bottom: 1em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  @color: white;

  height: 100px;
  padding-top: 22px;
  position: relative;
  z-index: 20;

  color: @color;
  background: url("@{assets}/headerBg.svg"), @color-value;
  background-repeat: repeat-x;

  h1 {
    font-size: 36px;
    font-weight: 500;
  }

  a {
    .link-colors(@color);
  }
}

#topMenu {
  color: white;

  background-image: url('@{assets}/topMenuBg.svg');
  background-repeat: repeat-x;
  height: 92px;
  background-position: 0 -10px;
  margin-top: -20px;

  z-index: 10;
  position: relative;
}

.topMenu-form {
  margin: 0 auto;
  padding-top: 30px;
  .font-medium();

  label {
    margin-right: 1em;
  }

  button {
    margin-left: 1em;
  }

  input {
    color: @font-color;
    width: 5em;
    text-align: center;

    color: red;
  }

  form.isValid {
    input {
      color: green;
    }
  }
}

#sidebar {
  margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
  #sidebar {
    &.affix-top {
      position: absolute;
    }

    &.affix {
      top: 10px;
    }
  }

  .sticky {
    margin-left: 80%;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .affix {
    position: relative;
  }
}

.compare, .compare label {
  .font-regular();
  padding: 0.2em 0;
}

.compare-indicator {
  visibility: hidden;
}

.wame-origin {
  margin-bottom: 1em;
}

.wapo {
  margin-bottom: 25px;
}

.wapo-content {
}

@media only screen and (min-width: 768px) {
  .wapo-hero {
    text-align: right;
  }
}

.wapo-hero-title, .wapo-hero-value {
  .font-big();
}

.wapo-hero-value, .wapo-hero-unit {
  display: inline-block;;
}

.wapo-hero-unit {
  .font-medium();
}

@-webkit-keyframes resize {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

button {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

#content button {
  .link-colors(@color-value);
  margin: 1em;
}

.wapo-btn-details {
  display: none;

  .font-big();
  float: left;
  width: 40px;
  height: 40px;

  transition: all 0.3s ease-out;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);

  &.isOpen {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.wapo-details { }

.muted {
  color: @color-muted;
}

.sourceLink {
  .link-colors(@color-muted);
}

.iconLink {
  padding: 0 0.5em;
}

#footer {
  font-weight: 400;
  text-align: center;
  padding: 1em;
  .muted();
}
