<div class="compare">
    <span class="compare-indicator">█</span>
    <input type="checkbox" value="<%- id  %>" id="compare-<%- id %>">
    <label for="compare-<%- id %>"><%- label %></label>
    <%= sourceLink %>
</div>
